# Python
__pycache__/
__init__.py

# Virtual Environment
.venv/
venv/
env/
ENV/
.env
sonance-env/

# Cache
.cache

# Docker 
docker-compose.yaml

# Pytest
.pytest_cache/
.tests/
.coverage

# Alembic
migrations/*.mako

# Dependencies
node_modules/
bun.lockb

# Distribution
dist/

# Next.js
.next/
.next/cache/

# Claude 
.claude/