# Web Framework & API Handling
fastapi==0.115.6
uvicorn==0.34.0
httpx==0.26.0  
pydantic==2.10.4  
slowapi==0.1.9  

# Database & ORM
sqlalchemy  
psycopg2-binary  

# Caching & Redis (Upstash)
redis  

# Data Handling
pandas  
numpy  

# Machine Learning (Collaborative Filtering / Recommendation Model)
scikit-learn  
scipy  
surprise  

# Web Scraping (AOTY Data)
beautifulsoup4==4.12.3  
cloudscraper==1.2.71  
selenium  

# Environment Variables
python-dotenv==1.0.1  
